.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px !important;
    background: #FFFFFF;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.3);

}
.sidebar.open{
    width: 250px !important;
}
bx bx-menu{
    background-color: #575757 !important;
}
.sidebar .logo-details{
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;

}
.sidebar .logo-details img{
   display: none;

}
.sidebar.open .logo-details img{
    display: block;
    height: 50px;
    width: 60%;
}


.sidebar .logo-details #btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
    text-align: right;
}
.sidebar i{
    color: #070606;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}
.sidebar .nav-list{
    margin-top: 20px;
    height: 100%;
}
.sidebar li{
    position: relative;
    margin: 8px 0;
    list-style: none;
}
.sidebar li .tooltip{
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    pointer-events: none;
    transition: 0s;
}
.sidebar li:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}
.sidebar.open li .tooltip{
    display: none;
}

.sidebar .bx-search{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    background: #1d1b31;
    color: #FFF;
}

.sidebar li a{
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #f3eded;
}
.sidebar li a:hover{
    background: rgba(233,0,120,0.5);
}
.sidebar li a .links_name{
    color: #070606;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}
.sidebar.open li a .links_name{
    opacity: 1;
    pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
    transition: all 0.5s ease;
    color: #11101D;
}
.sidebar li i{
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}
.sidebar li.profile{
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: #f3eded;
    transition: all 0.5s ease;
    overflow: hidden;
}
.sidebar.open li.profile{
    width: 250px;
}
.sidebar li .profile-details{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.sidebar li img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
    font-size: 15px;
    font-weight: 400;
    color: #2a2929;
    white-space: nowrap;
}
.sidebar li.profile .job{
    font-size: 12px;
}
.sidebar .profile #log_out{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #f3eded;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s ease;
    cursor: pointer;
}
.sidebar.open .profile #log_out{
    width: 50px;
    background: none;
}
.home-section{
    position: relative;
    background: #E4E9F7;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}
.sidebar.open ~ .home-section{
    left: 250px;
    width: calc(100% - 250px);
}
.home-section .text{
    display: inline-block;
    color: #11101d;
    font-size: 25px;
    font-weight: 500;
    margin: 18px
}


.active .box{
    background-color: rgba(233,0,120,0.7);
    color: white;
}

.active i{
    color: white;
}



.active .links_name{
    color: white !important;
}


/*manage*/
#manage{
    border-radius: 15px;

}

#manage input{
    border: 0;
    /*border-bottom: 1px solid rgb(233,0,120);*/
    border-radius: 0;
    box-shadow: 0 0 0 0;
    padding-right: 35px;
}

#manage input:hover{


}

#manage .icons{
    height: 17px;
    width: 17px;
}

#manage .btn-close{
    background-color: transparent;
    background-image: url("../img/close.png");
    background-size: cover;
    height: 20px;
    width: 20px;
    border: 0;
}

#manage p{
    text-align: center !important;
    color: dimgrey;
    font-size: 13px;
}

#manage .cl_mg{
    background-color: transparent;
    border: 1px solid rgb(233,0,120);
    border-radius: 9px;
    color: rgb(233,0,120);
    display: none;
    font-size: 0.8em;
    width: 100% !important;
    margin-left: 50% !important;

}#manage .cl_mg:hover{
     box-shadow: 1em 1em 1em 1em rgba(0, 0, 0, 0), 0em 0em 0em 0.1em rgba(233,0,120,0.7) !important;
     background-color: rgba(233,0,120,0.05);
 }

#manage .ed_mg{
    background-color: rgba(64,87,109,.07);
    border: 0;
    border-radius: 9px;
    color: black;
    font-size: 0.8em;
    width: 100% !important;
    display: block;
    margin-left: 100% !important;
}#manage .ed_mg:hover{
     background-color: rgba(64,87,109,.15);

 }

#manage .sv_mg{
    background-color: rgb(233,0,120);
    border: 1px solid rgb(233,0,120);
    border-radius: 9px;
    color: white;
    display: none;
    font-size: 0.8em;
    width: 100% !important;
    margin-left: 35% !important;

}#manage .sv_mg:hover{
     box-shadow: 1em 1em 1em 1em rgba(0, 0, 0, 0), 0em 0em 0em 0.1em rgba(233,0,120,0.7) !important;


 }


#manage #in_new_password{
    border-bottom: 1px solid rgb(233,0,120);
}#manage #in_new_password:hover{
     border-bottom: 2px solid rgb(233,0,120);
 }#manage #in_new_password:active{
      border-bottom: 2px solid rgb(233,0,120);
  }

#manage input[type="text"]:focus-within, input[type="password"]:focus-within, input[type="email"]:focus-within{
    border-bottom: 2px solid rgb(233,0,120) !important;
} #manage input[type="text"], input[type="password"], input[type="email"]{

  }

#manage #new_pass_confirm{
    display: none;
}
#manage #new_pass_preview{
    display: none;
}

